<c-callout class="bg-white:dark:bg-transparent" color="info">
  <ng-container *ngTemplateOutlet="default"></ng-container>
</c-callout>

<ng-template #default>
  <p *ngIf="!!name">
  informações Básicas
  </p>

  <ng-content></ng-content>

  <Hr>
  Para mais informação porfavor visitar o site oficial
</ng-template>

