<!--<c-footer>-->
  <div>
    <a href="#" target="_blank">Copy</a>
    <span> &copy; 2023 </span>
  </div>
  <div class="ms-auto">
    Desenvolvida pela:
    <a href="#" target="_blank">
      <span> AGT </span>
    </a>
  </div>

<!--</c-footer>-->
