<div>
  <h1 style="font-weight: bold;">Customs Declaration Form for Passenger/Travellers</h1>
</div>
<div id="alerta_me"></div>

<c-nav variant="tabs">
  <a [active]="true" [cTabContent]="tabContent" [routerLink] [tabPaneIdx]="0" cNavLink>Personal Information</a>
  <a [cTabContent]="tabContent" [routerLink] [tabPaneIdx]="1" cNavLink>Address</a>
  <a [cTabContent]="tabContent" [routerLink] [tabPaneIdx]="2" cNavLink>Country of Residence</a>
  <a [cTabContent]="tabContent" [routerLink] [tabPaneIdx]="3" cNavLink>Passport</a>
  <a [cTabContent]="tabContent" [routerLink] [tabPaneIdx]="4" cNavLink>Trip</a>
  <a [cTabContent]="tabContent" [routerLink] [tabPaneIdx]="5" cNavLink>Children</a>
  <a [cTabContent]="tabContent" [routerLink] [tabPaneIdx]="6" cNavLink>Transport</a>
  <a [cTabContent]="tabContent" [routerLink] [tabPaneIdx]="7" cNavLink>Answer</a>
  <a [cTabContent]="tabContent" [routerLink] [tabPaneIdx]="8" cNavLink>Other</a>
</c-nav>
<form method="post">
<c-tab-content #tabContent="cTabContent">
  <c-tab-pane class="p-3">
      <c-col [md]="6">
        <label cLabel for="fullname">Full Name: </label>
        <input cFormControl id="fullname" type="text" />
      </c-col>
      <c-col [md]="6">
        <label cLabel for="inputPassword4">Gender: </label>
        <select aria-label="Gender" cSelect id="gender">
          <option></option>
          <option value="M">Male</option>
          <option value="F">Female</option>
        </select>
      </c-col>
      <c-col [md]="6">
        <label cLabel for="birthdate">Date of Birth</label>
        <input cFormControl type="date" id="birthdate" placeholder="1234 Main St" />
      </c-col>
  </c-tab-pane>


  <c-tab-pane class="p-3">
      <div class="mb-3">
      <label cLabel for="address">Full address of the destination country ( name of the hotel/residence)</label>
      <input cFormControl id="address" placeholder="address" type="text" />
      </div>

      <c-input-group>
        <span cInputGroupText>City & Province</span>
        <input aria-label="City" id="city" placeholder="City" cFormControl />
        <input aria-label="Province" id="province" placeholder="Province" cFormControl />
      </c-input-group>
  </c-tab-pane>


  <c-tab-pane class="p-3">
        <div [cFormFloating]="true" class="mb-3">
          <input cFormControl id="countryresidence" placeholder="Country of Residence" type="text" />
          <label cLabel for="countryresidence">Country of Residence</label>
        </div>
  </c-tab-pane>


  <c-tab-pane class="p-3">
      <div [cFormFloating]="true" class="mb-3">
        <input cFormControl id="passportNumber" placeholder="Passport Number" type="text" />
        <label cLabel for="passportNumber">Passport Number</label>
      </div>

      <div [cFormFloating]="true" class="mb-3">
        <input cFormControl id="placeIssue" placeholder="Place of Issue" type="text" />
        <label cLabel for="placeIssue">Place of Issue</label>
      </div>
  </c-tab-pane>
  <c-tab-pane class="p-3">
      <div cFormFloating>
        <textarea [ngStyle]="{ 'height.px': 100 }"
        cFormControl id="trip"></textarea>
        <label cLabel for="trip">Countries to Visit or Visited during the Trip</label>
        </div>
  </c-tab-pane>
  <c-tab-pane class="p-3">
    <c-col [md]="6">
      <label cLabel for="inputPassword4">Travelling with Children Under 18? </label>
      <c-form-check>
        <input cFormCheckInput name="travellingChild" id="yes" value="yes" type="radio" />
        <label cFormCheckLabel for="yes">YES</label>
      </c-form-check>
      <c-form-check>
        <input [checked]="true" name="travellingChild" cFormCheckInput value="no" id="no" type="radio" />
        <label cFormCheckLabel for="no">NO</label>
      </c-form-check>
      <div [cFormFloating]="true" class="mb-3">
        <input cFormControl id="ifyes" placeholder="Id Yes, How Many?" type="number" />
        <label cLabel for="ifyes">If Yes, How Many?</label>
      </div>
      <div [cFormFloating]="true" class="mb-3">
        <input cFormControl id="kinship" placeholder="Kinship" type="text" />
        <label cLabel for="kinship">Kinship</label>
      </div>
    </c-col>
  </c-tab-pane>
  <c-tab-pane class="p-3">
    <c-col [md]="6">
      <input cFormControl id="mainPurpose" placeholder="The main Purpose of the trip:" type="text" />
      <input cFormControl id="nameMeansTransport" placeholder="Name of Means of Transport" type="text" />
      <input cFormControl id="detailsMeansTransport" placeholder="Details of Means of Transport" type="text" />
    </c-col>
  </c-tab-pane>
  <c-tab-pane class="p-3">
    <label cLabel for="inputPassword4">Commercial Goods </label>
      <c-form-check>
        <input cFormCheckInput type="checkbox" id="yes"  />
        <label cFormCheckLabel  for="yes">YES</label>
      </c-form-check>
      <c-form-check>
        <input  cFormCheckInput type="checkbox" id="no"  />
        <label cFormCheckLabel  for="no">NO</label>
      </c-form-check>

      <label cLabel for="inputPassword4">Weapons and/or ammounitions? </label>
      <c-form-check>
        <input cFormCheckInput type="checkbox" id="yes"  />
        <label cFormCheckLabel  for="yes">YES</label>
      </c-form-check>
      <c-form-check>
        <input  cFormCheckInput type="checkbox" id="no"  />
        <label cFormCheckLabel  for="no">NO</label>
      </c-form-check>
      <label cLabel for="inputPassword4">Artwork </label>
      <c-form-check>
        <input cFormCheckInput type="checkbox" id="yes"  />
        <label cFormCheckLabel  for="yes">YES</label>
      </c-form-check>
      <c-form-check>
        <input  cFormCheckInput type="checkbox" id="no"  />
        <label cFormCheckLabel  for="no">NO</label>
      </c-form-check>
      <label cLabel for="inputPassword4">Precious Stones (Diamond, Rubi, Sapphire, etc,) </label>
      <c-form-check>
        <input cFormCheckInput type="checkbox" id="yes"  />
        <label cFormCheckLabel  for="yes">YES</label>
      </c-form-check>
      <c-form-check>
        <input  cFormCheckInput type="checkbox" id="no"  />
        <label cFormCheckLabel  for="no">NO</label>
      </c-form-check>
      <label cLabel for="inputPassword4">Precious Metals (Gold, Silver, Bronze, Capper, etc,) </label>
      <c-form-check>
        <input cFormCheckInput type="checkbox" id="yes"  />
        <label cFormCheckLabel  for="yes">YES</label>
      </c-form-check>
      <c-form-check>
        <input  cFormCheckInput type="checkbox" id="no"  />
        <label cFormCheckLabel  for="no">NO</label>
      </c-form-check>
      <label cLabel for="inputPassword4">Cash </label>
      <c-form-check>
        <input cFormCheckInput type="checkbox" id="yes"  />
        <label cFormCheckLabel  for="yes">YES</label>
      </c-form-check>
      <c-form-check>
        <input  cFormCheckInput type="checkbox" id="no"  />
        <label cFormCheckLabel  for="no">NO</label>
      </c-form-check>
      <label cLabel for="inputPassword4">Cash above USD 10.0000 (Ten Thousand US Dollar) Or the Equivalent in other foreign currencies </label>
      <c-form-check>
        <input cFormCheckInput type="checkbox" id="yes"  />
        <label cFormCheckLabel  for="yes">YES</label>
      </c-form-check>
      <c-form-check>
        <input  cFormCheckInput type="checkbox" id="no"  />
        <label cFormCheckLabel  for="no">NO</label>
      </c-form-check>
      <label cLabel for="inputPassword4">National Currency </label>
      <c-form-check>
        <input cFormCheckInput type="checkbox" id="yes"  />
        <label cFormCheckLabel  for="yes">YES</label>
      </c-form-check>
      <c-form-check>
        <input  cFormCheckInput type="checkbox" id="no"  />
        <label cFormCheckLabel  for="no">NO</label>
      </c-form-check>
      <label cLabel for="inputPassword4">Credit/Pre-Paid Cards </label>
      <c-form-check>
        <input cFormCheckInput type="checkbox" id="yes"  />
        <label cFormCheckLabel  for="yes">YES</label>
      </c-form-check>
      <c-form-check>
        <input  cFormCheckInput type="checkbox" id="no"  />
        <label cFormCheckLabel  for="no">NO</label>
      </c-form-check>
      <label cLabel for="inputPassword4">other Negative instruments (traveller´s checks, promissary notes and money orders etc,) </label>
      <c-form-check>
        <input cFormCheckInput type="checkbox" id="yes"  />
        <label cFormCheckLabel  for="yes">YES</label>
      </c-form-check>
      <c-form-check>
        <input  cFormCheckInput type="checkbox" id="no"  />
        <label cFormCheckLabel  for="no">NO</label>
      </c-form-check>
      </c-tab-pane>
      <c-tab-pane class="p-3">
        <c-input-group>
          <span cInputGroupText>Other Declaration & Amount () </span>
          <input aria-label="City" placeholder="City" cFormControl />
          <input aria-label="Province" placeholder="Province" cFormControl />
        </c-input-group>
        <c-input-group>
          <span cInputGroupText>Other Declaration & Amount () </span>
          <input aria-label="City" placeholder="City" cFormControl />
          <input aria-label="Province" placeholder="Province" cFormControl />
        </c-input-group>
        <c-input-group>
          <span cInputGroupText>Other Declaration & Amount () </span>
          <input aria-label="City" placeholder="City" cFormControl />
          <input aria-label="Province" placeholder="Province" cFormControl />
        </c-input-group>
        <div class="d-grid gap-2" style="margin: 10px;">
          <button cButton color="primary" type="submit" style="background-color: #203365 !important">Send</button>
          </div>
          <a cNavLink routerLink="/forms/select" routerLinkActive="active">
            Preview
          </a>
      </c-tab-pane>
</c-tab-content>
</form>
