
<div>
  <h1 style="font-weight: bold;">PREVIEW</h1>
</div>
<c-row >
  <c-col xs="12">
    <app-docs-callout href="forms/select" name="Form Select"></app-docs-callout>
  </c-col>
  <c-container>
    <c-row>
  <c-col xs="6">
    <c-card class="mb-4">
      <c-card-header style="background-color: #203365 !important; color: #fff;">
        <strong>Customs Declaration form Passenger/Travellers</strong>
      </c-card-header>
      <c-card-body style="background-color: #89a4e9 !important; color: rgb(5, 54, 128);">
        <p>
          To help you complete this form, read carefully the additional information on the
          reverse side of the form.
        </p>
        <p>
          Every Passenger/Traveller must complete this Declaration. Parents or Guardians of
          minors must complete it for them.
        </p>
        <table >
          <tr >
            <td style=" border-bottom: 3px solid #89a4e9;  width: 20px; background-color: #203365 !important;  color: #fff; font-weight: bold; text-align: center; ">
              1
            </td>
            <td>
              Full Name: <input type="text" id="fn" value={{fullname}} disabled><br>
              Gender: <input type="text" id="fn" value={{gender}} disabled><br>
              Date of Birth <input type="text" id="fn" value={{birthdate}} disabled>
            </td>
          </tr>
          <tr >
            <td style="border-bottom: 3px solid #89a4e9; width: 20px; background-color: #203365 !important;  color: #fff; font-weight: bold; text-align: center;  top: 10px;">
              2
            </td>
            <td style=" top: 10px;">
              Full address of the destination country ( name of the hotel/residence): <input type="text" id="fn" value={{address}} disabled><br>
              City: <input type="text" id="fn" value={{city}} disabled><br>
              Province: <input type="text" id="fn" value={{province}} disabled>
            </td>
          </tr>
          <tr >
            <td style="border-bottom: 3px solid #89a4e9; width: 20px; background-color: #203365 !important;  color: #fff; font-weight: bold; text-align: center;  top: 20px;">
              3
            </td>
            <td style=" top: 20px;">
              Country of Residence: <input type="text" id="fn" value={{countryresidence}} disabled>
            </td>
          </tr>
          <tr >
            <td style="border-bottom: 3px solid #89a4e9; width: 20px; background-color: #203365 !important;  color: #fff; font-weight: bold; text-align: center;  top: 30px;">
              4
            </td>
            <td style=" top: 30px;">
              Passport Number: <input type="text" id="fn" value={{passportNumber}} disabled><br>
              Place of Issue: <input type="text" id="fn" value={{placeIssue}} disabled>
            </td>
          </tr>
          <tr >
            <td style="border-bottom: 3px solid #89a4e9; width: 20px; background-color: #203365 !important;  color: #fff; font-weight: bold; text-align: center;  top: 30px;">
              5
            </td>
            <td style=" top: 30px;">
              Countries to Visit or Visited during the Trip: <input type="text" id="fn" value={{trip}} disabled><br>
            </td>
          </tr>
          <tr >
            <td style="border-bottom: 3px solid #89a4e9; width: 20px; background-color: #203365 !important;  color: #fff; font-weight: bold; text-align: center;  top: 30px;">
              6
            </td>
            <td style=" top: 30px;">
              Travelling with Children Under 18?: <input type="text" id="fn" value={{valueTravellingChild}} disabled><br>
              If Yes, How Many? <input type="text" id="fn" value={{ifyes}} disabled><br>
              Kinship: <input type="text" id="fn" value={{kinship}} disabled>
            </td>
          </tr>
          <tr >
            <td style="border-bottom: 3px solid #89a4e9; width: 20px; background-color: #203365 !important;  color: #fff; font-weight: bold; text-align: center;  top: 30px;">
              7
            </td>
            <td style=" top: 30px;">
              The main Purpose of the trip: <input type="text" id="fn" value={{mainPurpose}} disabled><br>
              Name of Means of Transport: <input type="text" id="fn" value={{nameMeansTransport}} disabled><br>
              Details of Means of Transport
              (Airline, Flight Nr. / Vehicle, Plate Number /Vessel): <input type="text" id="fn" value={{detailsMeansTransport}} disabled>
            </td>
          </tr>
          <tr >
            <td style="border-bottom: 3px solid #89a4e9; width: 20px; background-color: #203365 !important;  color: #fff; font-weight: bold; text-align: center;  top: 30px;">
              8
            </td>
            <td style=" top: 30px;">
              <strong>I am Carrying:</strong>
              a) Commercial Goods:
              b) Weapons and/or Ammunitions: <br>
              c) Artwork: <br>
              d) Precious Stones (Diamond, Rubi, Sapphire, etc.): <br>
              e) Precious Metals (Gold, Silver, Bronze, Copper etc.): <br>
              f) Cash: <br>
              g) Cash above USD10.000 (Ten Thousand US Dollars) 
              or the Equivalent in other foreign currencies: <br>
              h) National Currency: <br>
              i) Credit/Pre-Paid Cards: <br>
              j) Other Negotiable Instruments (traveller’s checks,
              promissory notes and money orders etc.): <br>
            </td>
          </tr>
          <tr >
            <td style="border-bottom: 3px solid #89a4e9; width: 20px; background-color: #203365 !important;  color: #fff; font-weight: bold; text-align: center;  top: 30px;">
              9
            </td>
            <td style=" top: 30px;">
              <strong>Other Declarations</strong>
              <c-input-group>
                <span cInputGroupText>Other Declaration & Amount ($,€,£,N$...etc.) </span>
                <input aria-label="City"  cFormControl />
                <input aria-label="Province"  cFormControl />
              </c-input-group>
              <c-input-group>
                <span cInputGroupText>Other Declaration & Amount ($,€,£,N$...etc.) </span>
                <input aria-label="City"  cFormControl />
                <input aria-label="Province"  cFormControl />
              </c-input-group>
              <c-input-group>
                <span cInputGroupText>Other Declaration & Amount ($,€,£,N$...etc.) </span>
                <input aria-label="City"  cFormControl />
                <input aria-label="Province"  cFormControl />
              </c-input-group>
            </td >
          </tr>
        </table>
        <div style="border-top: 10px solid #89a4e9; background-color: #203365 !important;  color: #fff; text-align: center; ">
          I Declare that I have read all the instructions given and have full knowledge of them,
          I am responsible for the goods, currency and/or other negotiable Instruments in my
          possession.
          <p> <strong>Signature and Date</strong> <i>(As in the Passport):</i> </p>
          <c-input-group>
            <input aria-label="City" style="border-radius: 0px; color: #fff; background-color: #fff;"  cFormControl />
            <input aria-label="Province" style="border-radius: 0px; color: #fff; background-color: #fff;" cFormControl />
          </c-input-group>
          <c-input-group>
            <input aria-label="City" style="border-radius: 0px; color: #fff; background-color: #fff;"  cFormControl />
            <input aria-label="Province" style="border-radius: 0px; color: #fff; background-color: #fff;" cFormControl />
          </c-input-group>
        </div>
      </c-card-body>
    </c-card>
  </c-col>

  <c-col xs="6">
    <c-card class="mb-4">
      <c-card-header style="background-color: #203365 !important; color: #fff;">
        <strong>Additional Information</strong>
      </c-card-header>
      <c-card-body style="background-color: #89a4e9 !important; color: rgb(5, 54, 128);">
        <strong>How to complete this Declaration?</strong>
        <ul>
          <li>Complete with capital letters;</li>
          <li>Mark with an X, if necessary; and</li>
          <li>Each Passenger/Traveller must sign the Declaration.</li>
        </ul>
<strong>Goods exempt from Customs Taxation:</strong><br>
Goods for personal use that the Passenger/Traveller can carry without paying Customs Duties:
<ul>
  <li>Three (3) Mobile Phones;</li>
  <li>Two (2) Liters of Wine;</li>
  <li>Three (3) Perfumes;</li>
  <li>Four hundred (400) Cigarettes or Five hundred (500 g) Grams of Tobacco or a hundred (100)
    Cigars;</li>
  <li>One (1) Photo Camera;</li>
  <li>One (1) Tablet and One (1) Computer;</li>
  <li>Other new or used items in reasonable quantities not for commercial purposes.</li>
</ul>
 <strong>Goods:</strong><br>
 <p>All natural products, raw materials, manufactured products, semi-finished products, finalized products,
  animals, currency, substances, etc.</p>
  <strong>Restricted Goods:</strong>
<p>Import/export goods subject to special conditions or restrictions in accordance with the law.</p>
<i style="text-decoration: underline #203365;">Example:</i>
<ul>
  <li>Arms, Ammunitions and their parts, Gunpowder, Explosives and Flamethrowers;</li>
  <li>Plants;</li>
  <li>Poisons and other Toxic Substances;</li>
  <li>Precious Stones, etc.</li>
</ul>
<strong>Prohibited Goods:</strong>
<p>Goods for which transit, import/export is prohibited in accordance with the applicable law.</p>
<i style="text-decoration: underline #203365;">Example:</i>
<ul>
  <li>Psichotropic Substances;</li>
  <li>Giant Sable Antelope;</li>
  <li>Welwitschia Mirabilis;</li>
  <li>Counterfeit Products;</li>
  <li>Wild Animals and products thereof, etc.</li>
</ul>
<strong>Bearer negotiable instruments (BNIs):</strong>
<ul>
  <li>Includes monetary instruments in bearer form such as traveller’s cheques;</li>
  <li>Negotiable instruments (including cheques, promissory notes and money orders) that are either
    in bearer form, endorsed without restriction, made out to a fictitious payee, or otherwise in such form that title thereto passes upon delivery;</li>
  <li>Incomplete instruments (including</li>
</ul>

<div style="background-color: #203365 !important; color: #fff; padding: 5px;">
  <strong>Other Additional Information</strong>
</div>


      </c-card-body>
    </c-card>
  </c-col>
  </c-row>
</c-container>
<div class="d-grid gap-2" style="margin: 10px;">
  <button cButton color="primary" type="submit" onclick="window.print()" style="background-color: #6994ff !important;  border: none; width: 100px;">Print</button>
  </div>
</c-row>


